.masthead {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.jumbotron {
    background: transparent;
}

.img-thumbnail {
    margin-left: -6rem;
    margin-top: 7rem;
    width: 70%;
}

.display-4 {
    width: 11rem;
    margin-left: -3.8rem;
    margin-top: 5rem;
}

.lead {
    color: #2e3092;
    font-family: 'Montserrat Alternates', sans-serif !important;
    width: 11rem;
    font-size: 1rem;
    margin-top: -2.5rem;
    margin-left: -4rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
    .img-thumbnail {
        margin-top: 5rem;
        margin-left: -7rem;
        width: 60%;
    }

    .display-4 {
        margin-left: -1.5rem;
    }
    
    .lead{
        width: 14rem;
        margin-left: -3rem;
    }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
    .img-thumbnail {
        margin-top: 4rem;
        margin-left: -3.5rem;
        width: 50%;
    }

    .display-4 {
        margin-left: 0rem;
    }

    .lead{
        width: 20rem;
        margin-left: -5rem;
    }

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .masthead {
        height: 100vh;
    }

    .img-thumbnail {
        margin-top: 4em;
        margin-left: -5rem;
    }

    .display-4 {
        margin-left: 9rem;
    }

    .lead{
        margin-left: 4rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

    .img-thumbnail {
        margin-top: 3.5em;
        margin-left: -3rem;
        width: 45%;
    }

    .display-4 {
        margin-left: 6rem;
    }

    .lead{
        margin-left: 1rem;
    }
 }